@media  screen and (orientation:portrait) {
    header{
        text-align: center;
    }
    .Repertoire{
        display: flex;
        flex-wrap: wrap;
        border: none;
        p{
            width: 100%;
        }
       .formulaire{
        width: 100vw;
        height: auto;
        display: inline-block;
        padding-bottom: 20px;
    }
    button{
        justify-self: center;
        width: 40%;
        // margin: 10px 0 0 70px;
        text-align: left;
      
   }
    .list{
        width: 100vw;
        height: auto;
        margin-top: 20px;
        padding-bottom: 4px;
        .list__contact{
            display: flex;
            flex-wrap: wrap;
            font-size: 1.3em;
            .photo{
                width: 90%;
                justify-content: center;
                margin: 15px auto ;
                padding: 0 0 0 50px ;
                img{
                    height: 25vh;
                }
            }
            .description{
                width: 100%;
                
            }
        }
    } 
    }
    
}
@media screen and (orientation:paysage){
    .Repertoire{
        height: auto;
    }
    .list{
        width: 100vw;
        height: auto;
        margin-top: 20px;
        padding-bottom: 4px;
        overflow: scroll;

        .list__contact{
            display: flex;
            flex-wrap: wrap;
            font-size: 1.3em;
            .photo{
                width: 90%;
                height: 70vh;
                justify-content: center;
                margin: 15px auto ;
                padding: 0 0 0 50px ;
                img{
                    width: 90%;
                    height: 40vh;
                }
            }
            .description{
                width: 100%;
                
            }
        }
    } 
}
